.top_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--black_transparent);
}

.header_content {
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 1.25em;
}

nav a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: var(--red_light);
}

nav ul {
    display: flex;
    text-align: center;
}