.container {
    display: flex;
}

.top_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--black_transparent);
}

.center_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    align-self: center;
    width: 98%;
    height: 70%;
}

.title {
    font-size: 50px;
    color: var(--white);
}

.search_widget {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    margin-top: 5%;
}

.search {
    display: flex;
    align-self: center;
    width: 100%;
}

.input {
    margin-left: 7px;
    position: relative;
    border: 0;
    width: 100%;
    height: 50px;
    background-color: var(--dark_light);
    color: var(--white);
    outline: none;
}

.input_container {
    width: 100%;
    position: relative;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
    height: 50px;
    background-color: var(--dark_light);
    color: var(--white);
    outline: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    height: 50px;
    width: 50px;
    color: var(--dark);
    background: var(--green);
}

.button:hover {
    background-color: var(--green2);
}

.button > i {
    margin-left: -3px;
}