.container {
    display: flex;
}

.top_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--black_transparent);
}

.center_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    align-self: center;
    width: 98%;
    height: 70%;
}

.title {
    font-size: 50px;
    color: var(--white);
}

@media screen and (max-width: 1200px) {
    .search_widget {
        width: 60%;
    }
}
@media screen and (max-width: 800px) {
    .search_widget {
        width: 90%;
    }
}