.container {
    display: flex;
}

.top_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--black_transparent);
}

.center_container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 98%;
    height: 90%;
}

#chart {
    display: none;
    max-height: 90% !important;
}

.footer_info {
    position: relative;
    color: var(--green2);
    font-size: 26px;
    padding: 10px 0;
    display: inherit;
    font-weight: 700;
}


@media screen and (max-height: 800px) {
    .center_container {
        height: 70%;
    }
}
@media screen and (max-width: 1000px) {
    #chart {
        display: none !important;
    }
}